RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://lapenne-julian.dev [R=301,L]

# add condition if request is not directory or files
# check if directory of files exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# redirect every request to index.html
# and give the relative URL in "_url" GET param
RewriteRule ^(.*)$ index.html [QSA,L]


